* {
    box-sizing: border-box;
 }

html {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #757575;
    min-width: 320px;
    padding: unset;
    margin: unset;
}


main {
    background-color: #fff;
    display: block;
}

section {
    margin-top: 2rem !important;
    margin-bottom: 3rem !important;
}

section:last-child {
    margin-bottom: unset !important;
}


.container {
    padding: 0 1rem;
    max-width: 960px;
    margin: 0 auto 1rem auto;
    clear: both;
}

hr {
    height: 3px;
    background-color: #F2BB05;
    border: 0;
}

h1, h2 {
    font-family: 'Castoro', serif;
    color: #09273c;
}

h1 {  
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5rem;
}

ul {
    padding-left: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: #757575;
    text-decoration: none;
    /* TODO visited/active state */
}

a:hover {
    background-color: #F2BB05;
    color: black;
}

/* =================================================================================
 * Header
*/


header {
    overflow: hidden;
    padding: 10px;
    background-color: #ededed;
    text-align: center;
}

.logo {
    margin: 2rem 3rem;
}

.logo img {
    height: 120px;
    margin: auto;
}

.logo a:hover {
    background-color: unset;
}

.logo__tagline {
    font-size: 1rem;
    font-variant: small-caps;
}

header a {
    font-size: 1.125rem;
    font-weight: 600;
    display: block;
}

@media screen and (min-width: 480px) {
    header a {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 620px) {
    .logo__tagline {
        font-size: 1.1rem;
    }
}



/* =================================================================================
 * Hero
*/
.hero {
    background-image: url('img/aotea.jpg');
    background-color: #cccccc;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: Castoro, serif;
    position: relative;
    margin-top: 0 !important;
}

.hero__text-row {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero__text-row-content {
    margin-bottom: unset;
    text-align: center;
}

.hero__text-row-content a {
    color: #fff;
    padding: 0.25rem;
    display: inline-block;
}

.hero__tagline {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.6;
    text-shadow: #000 2px 0 30px;
}

@media screen and (min-width: 480px) {
    .hero__text-row-content a {
        padding: 0.5rem;
    }

    .hero__tagline {
        font-size: 2rem;
    }
}

@media screen and (min-width: 620px) {
    .hero__text-row-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .hero__text-row-content a:first-child {
        margin-right: 0.5rem;
    }

    .hero__text-row-content a {
        flex-shrink: 0;
        display: unset;
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        height: 450px;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        height: 500px;
    }

    .hero__tagline {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        height: 550px;
    }
    
    .hero__tagline {
        font-size: 3rem;
    }
}

/* =================================================================================
 * About Us
*/
.lbp-logo-wrapper {
    display: flex;
    flex-direction: column;
}

.lbp-logo {
    height: 100px;
    display: block;
    margin: 0 auto;
    order: 2;
}

@media screen and (min-width: 768px) {
    
    .lbp-logo-wrapper {
        display: block;
    }

    .lbp-logo {
        float: right;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* =================================================================================
 * Get in touch
*/

#get-in-touch {
    text-align: center;
}

.tom-profile {
    display: flex;
    align-items: center;
}

.tom-profile img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: block;
    margin: 0.5rem 1rem;
    transition: transform .3s ease-in-out;
}

.tom-profile img:hover {
    transform: rotate(360deg);
}

.tom-profile-text > div {
    margin-bottom: 0.5rem;
}

.tom-profile strong {
    font-size: 1.25rem;
}

.tom-profile-text a {
    margin-bottom: 0.25rem;
}

.form-wrapper {
    /* background-color: #F2BB05; */
    background-color: rgb(242,187,5, 0.5);
    
    padding: 2rem;
}
form {
    margin: 0 1rem;
    width: 50%;
    margin: 0 auto;
}

.form-field > * {
    width: 100%;
    display: block;
}

.form-field {
    margin-bottom: 0.5rem;
}

button[type="submit"] {
    /* margin: 0 auto;
    display: block;
    background-color: #F2BB05;
    color: #09273c;
    padding: 0.5rem 1rem;
    border: 1px solid #09273c;
    font-size: 1.2rem;
    box-shadow: 0 0 3px 0 rgba(9,39,60, 0.5);
    border-radius: 2px; */
}

.form-field {
    position: relative;
    margin-bottom: 1rem;
}

.form-field input,
.form-field textarea,
.form-field label {
    line-height: 1;
    font: inherit;
    padding: 1rem;
    position: relative;
}

.form-field input,
.form-field textarea {
    border: 1px solid rgb(224, 224, 224);
}

.form-field--touched input:invalid,
.form-field--touched textarea:invalid {
    /* border-color: #ff4757 !important; */
    box-shadow: rgb(255, 0, 0) 0px 0px 1.5px 1px;
}

.form-field input:focus,
.form-field textarea:focus {
    border-color: #09273c;
    box-shadow: 0 0 3px 0 rgba(9,39,60, 0.5);
}

.form-field input::placeholder,
.form-field textarea::placeholder {
    color: transparent;
}

.form-field label {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    transition: transform .25s, opacity .25s ease-in-out;
    transform-origin: 0 0;
}

.form-field input:focus + label,
.form-field textarea:focus + label,
.form-field input:not(:placeholder-shown) + label,
.form-field textarea:not(:placeholder-shown) + label {
    transform: translate(0%, -20%) scale(.8);
    opacity: 0.75;
}