* {
	box-sizing: border-box;
	transition: box-shadow 0.3s ease;
}

.js-focus-visible .focus-visible {
	outline: 1px solid #f2bb05 !important;
	box-shadow: 0px 0px 10px 1px rgba(242,187,5,1) !important;
}

html {
	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #757575;
	min-width: 320px;
	padding: unset;
	margin: 0 auto;
}

main {
	background-color: #fff;
	display: block;
}

section {
	margin-top: 2rem !important;
	margin-bottom: 3rem !important;
}

section:last-child {
	margin-bottom: unset !important;
}

.container {
	padding: 0 1rem;
	max-width: 960px;
	margin: 0 auto 1rem auto;
	clear: both;
}

hr {
	height: 3px;
	background-color: #f2bb05;
	border: 0;
}

h1,
h2 {
	font-family: 'Castoro', serif;
	color: #09273c;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0.5rem;
}

ul {
	padding-left: 1rem;
}

li {
	margin-bottom: 0.5rem;
}

a {
	text-decoration: none;
	color: #757575;
	text-decoration: none;
	/* TODO visited/active state */
}

a:hover {
	background-color: #f2bb05;
	color: black;
}

/* =================================================================================
 * Header
*/

header {
	overflow: hidden;
	padding: 10px;
	text-align: center;
	position: relative;
	border-bottom: 2px solid #f2bb05;
}
header::after {
	content: '';
	background-color: #ededed;
	background-image: url('img/retina-wood-texture.png');
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.logo {
	margin: 2rem 3rem;
}

.logo img {
	height: 120px;
	margin: auto;
}

.logo a:hover {
	background-color: unset;
}

.logo__tagline {
	font-size: 1rem;
	font-variant: small-caps;
}

header a {
	font-size: 1.125rem;
	font-weight: 600;
	display: block;
}

@media screen and (min-width: 480px) {
	header a {
		font-size: 1.25rem;
	}
}

@media screen and (min-width: 620px) {
	.logo__tagline {
		font-size: 1.1rem;
	}
}

/* =================================================================================
 * Hero
*/

.hero {
	background-color: #cccccc;
	height: 350px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	font-family: Castoro, serif;
	position: relative;
	margin-top: 0 !important;
}

.hero__text-row {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.hero__text-row-content {
	margin-bottom: unset;
	text-align: center;
}

.hero__text-row-content a {
	color: #fff;
	padding: 0.25rem;
	display: inline-block;
}

.hero__tagline {
	text-align: center;
	color: white;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.6;
	text-shadow: #000 2px 0 30px;
	margin: 0;
	padding: 0;
	z-index: 10;
	user-select: none;
}

@media screen and (min-width: 480px) {
	.hero__text-row-content a {
		padding: 0.5rem;
	}

	.hero__tagline {
		font-size: 2rem;
	}
}

@media screen and (min-width: 620px) {
	.hero__text-row-content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.hero__text-row-content a:first-child {
		margin-right: 0.5rem;
	}

	.hero__text-row-content a {
		flex-shrink: 0;
		display: unset;
		padding: 1rem;
	}
}

@media screen and (min-width: 768px) {
	.hero {
		height: 450px;
	}
}

@media screen and (min-width: 1024px) {
	.hero {
		height: 500px;
	}

	.hero__tagline {
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 1440px) {
	.hero {
		height: 550px;
	}

	.hero__tagline {
		font-size: 3rem;
	}
}

/* =================================================================================
 * About Us
*/
.about-us__content {
	display: flex;
	flex-direction: column;
}

.certifications-logo-wrapper {
	order: 2;
	text-align: center;
}

.certification-logo {
	height: 100px;
	margin-left: 1rem;
	margin-right: 1rem;
}

@media screen and (min-width: 768px) {
	.about-us__content {
		display: block;
	}

	.certification-logo {
		float: right;
	}
}

/* =================================================================================
 * Get in touch
*/

#get-in-touch {
	text-align: center;
}

.tom-profile {
	display: flex;
	align-items: center;
}

.tom-profile img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	display: block;
	margin: 0.5rem 1rem;
	transition: transform 0.3s ease-in-out;
}

.tom-profile img:hover {
	transform: rotate(360deg);
}

.tom-profile-text > div {
	margin-bottom: 0.5rem;
}

.tom-profile strong {
	font-size: 1.25rem;
}

.tom-profile-text a {
	margin-bottom: 0.25rem;
}

@media (max-width: 768px) {
	.tom-profile-text > div {
		margin-bottom: 0.25rem;
	}

	.tom-profile-text a {
		display: inline-block;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}
}

.form-wrapper {
	background-color: #09273c;
	position: relative;
	padding: 2rem;
}
.form-wrapper::after {
	content: '';
	background-image: url('img/concrete-wall-texture.png');
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 0;
}

form {
	margin: 0 1rem;
}

@media screen and (min-width: 768px) {
	form {
		width: 75%;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1024px) {
	form {
		width: 50%;
	}
}

.form-field > * {
	width: 100%;
	display: block;
}

button[type='submit'],
.form-field {
	margin-bottom: 0.5rem;
	z-index: 1;
	position: relative;
}

button[type='submit'] {
	margin: 0 auto;
	display: block;
	font-size: 1rem;
	color: #09273c;
	padding: 0.5rem 2rem;
}

.form-field {
	position: relative;
	margin-bottom: 1rem;
}

.form-field input,
.form-field textarea,
.form-field label {
	line-height: 1;
	font: inherit;
	padding: 1rem;
	position: relative;
}

.form-field input,
.form-field textarea {
	border: 1px solid rgb(224, 224, 224);
}

.form-field--touched input:invalid,
.form-field--touched textarea:invalid {
	/* border-color: #ff4757 !important; */
	box-shadow: rgb(255, 0, 0) 0px 0px 1.5px 1px;
}

.form-field input::placeholder,
.form-field textarea::placeholder {
	color: transparent;
}

.form-field label {
	position: absolute;
	top: 0;
	left: 0;
	user-select: none;
	transition: transform 0.25s, opacity 0.25s ease-in-out;
	transform-origin: 0 0;
}

.form-field input:focus + label,
.form-field textarea:focus + label,
.form-field input:not(:placeholder-shown) + label,
.form-field textarea:not(:placeholder-shown) + label {
	transform: translate(0%, -20%) scale(0.8);
	opacity: 0.75;
}

.form-message--success,
.form-message--error {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	text-align: center;
}

.form-message--success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.form-message--error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

/* =================================================================================
 * Swiper styles
 * (copied in, pared back, customised)
*/




.swiper-slide img {
	object-fit: cover;
	display: block;
	min-width: 100%;
	height: 100%;
}















.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0px, 0, 0);
}
.swiper-container-pointer-events {
	touch-action: pan-y;
}
.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}
.swiper-container-fade .swiper-slide {
	pointer-events: none;
	transition-property: opacity;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}
.swiper-pagination {
	position: absolute;
	text-align: center;
	transition: 0.3s opacity;
	transform: translate3d(0, 0, 0);
	z-index: 10;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 10px;
	left: 0;
	width: 100%;
}
.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 50%;
	background-color: #fff !important;
	opacity: 0.75;
	box-shadow: 0px 0px 2px 1px #f2bb05;
}
button.swiper-pagination-bullet {
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.swiper-pagination-bullet:focus {
	outline: 0 none;
}
.swiper-pagination-bullet.focus-visible {
	outline: 2px solid #000;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}
.swiper-pagination-bullet-active {
	opacity: 1;
	background-color: #f2bb05 !important;
}
.swiper-container-horizontal
	> .swiper-pagination-bullets
	.swiper-pagination-bullet {
		margin: 0 0.5rem;
}
.swiper-pagination-bullet > span {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}